body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(/picture/WhatsApp\ Image\ 2024-09-01\ at\ 15.28.21_8036add8.jpg);
}
.form-container {
    background-color: rgb(243, 182, 13);
    padding: 70px;
    width: 400px;
    margin: auto;
    position: relative;
    border-radius: 20px;
}
.form-group {
    margin-bottom: 10px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.button-container {
    text-align: right; /* Aligns the button to the right */
    display: flex;
    justify-content: space-between;
}
.back-button, .next-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;   
}
.back-button:hover, .next-button:hover {
    background-color: darkgreen;
}
h2 {
    text-align: center;
    font-size: 28px;
    
}