body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('/picture/WhatsApp Image 2024-09-01 at 15.28.21_8036add8.jpg'); /* Replace with your image URL */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}
.openbtn {
    display: inline;
    position:fixed;
    top: 15px;
    left: 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    z-index: 1000; /* Ensure button is above everything */
    width: 8%;
    text-align: left;
}
.openbtn:hover {
    background-color: #444;
}
.sidebar {
    height: 100%; /* Full-height */
    width: 0; /* Initially hidden */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #333; /* Sidebar background */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* Smooth transition */
    padding-top: 60px; /* Spacing at the top */
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}
.login-container {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white */
    padding: 60px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 350px;
    text-align: center; /* Center-align text */
}
h1 {
    margin-bottom: 20px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}
.lost-password {
    margin-top: 10px;
}
.google-login {
    margin-top: 20px;
}
.google-btn {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
}
.google-icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.login {
    width: 700px;
    padding: 10px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}
.sign {
    width: 700px;
    padding: 10px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

