body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('/picture/WhatsApp Image 2024-09-01 at 15.28.21_8036add8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.openbtn {
    display: inline;
    position:fixed;
    top: 15px;
    left: 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    z-index: 1000; /* Ensure button is above everything */
}
.openbtn:hover {
    background-color: #444;
}
.sidebar {
    height: 100%; /* Full-height */
    width: 0; /* Initially hidden */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #333; /* Sidebar background */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* Smooth transition */
    padding-top: 60px; /* Spacing at the top */
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

/* Form Container */
.container {
    background-color: #add8e6;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Header Styling */
.header {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Form Elements Styling */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #555;
}

input,
select {
    margin-bottom: 15px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input.invalid {
    border-color: red; /* Red border for invalid input */
}

.error-message {
    color: red;
    font-size: 12px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
.button-container {
    display: flex;
    justify-content: space-between;
}

.back-button, .next-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-button {
    background-color: #f44336; /* Red color */
    color: white;
}
.sign-button {
    background-color: #4CAF50; /* Green color */
    color: white;
}
.back-button:hover {
    background-color: #d32f2f;
}
.next-button:hover {
    background-color: #388e3c;
}
